* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* my color palette */
:root {
    --dark0: #000000;
    --dark1: #393E41;
    --light0: #FFFFFF;
    --light1: #E7E5DF;
    --light2: #D3D0CB;
    --color1: #0075ba;
    --color2: #BE5A38;
}

body {
    font-family: 'Segoe UI';
    font-size: 16px;
    color: var(--dark0);
}

/* login and signup pages */

.register-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-box {
    position: relative;
    width: 90%;
    max-width: 400px;
    max-height: 80vh;
    border: 1px solid var(--light2);
    padding: 20px;
    padding-top: 60px;
    border-radius: 5px;
}

p.form-message {
    position: absolute;
    top: -60px;
    margin: 20px 0;
}

.register-box .title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #f7f7f7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid var(--light2);
}

.register-box form {
    display: flex;
    flex-direction: column;
}

.register-box form label {
    margin: 10px 0;
}

input,
select {
    margin-bottom: 10px;
    height: 40px;
    padding: 0 10px;
    outline: none;
    border: 1px solid var(--light2);
    border-radius: 5px;
    font-size: 16px;
}

.register-box form .remember {
    display: flex;
    align-items: center;
    height: 20px;
    margin: 10px 0 20px 0;
}

.register-box form .remember label {
    margin: 0;
    margin-bottom: 2px;
}

input[type="checkbox"] {
    height: 16px;
    margin: 0;
    margin-right: 10px;
}

.register-box form input[type="file"] {
    margin-bottom: 20px;
}

.change-register {
    margin-bottom: 20px;
}

input[type="submit"] {
    cursor: pointer;
    background-color: var(--color1);
    color: var(--light0);
}

/* control panel page */

.panel-container {
    width: 100%;
    height: 100vh;
    display: flex;
    color: var(--dark1);
}

h1, h2, h3 {
    font-weight: 600;
}

header {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 50px;
    background-color: var(--color1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
}

header h3 {
    color: var(--light0);
    font-weight: 300;
}

/* desktop menu */
header .menu {
    display: flex;
    height: 100%;
}

header ul {
    position: relative;
    display: flex;
    height: 100%;
}

header ul.dropdown {
    position: absolute;
    top: 50px;
    z-index: 999;
    display: none;
    flex-direction: column;
    height: auto;
}

header ul.dropdown li {
    background-color: var(--color2);
    height: 50px;
}

header ul li {
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%;
    transition: .2s;
}

header ul li.action span {
    width: 0px;
    height: 0px;
    border-top: 6px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    margin: 4px 20px 0px 10px;
}

header ul li:hover {
    opacity: .9;
}

header a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    height: 100%;
    padding: 0 20px;
}

header ul li.action > a {
    padding: 0;
    padding-left: 20px;
}

.main {
    position: absolute;
    top: 50px;
    width: 100%;
    min-height: calc(100vh - 70px);
    background-color: var(--light1);
    color: #000;
    padding: 40px 3%;
}

.window {
    flex-direction: column;
    align-items: center;
    background-color: var(--light0);
    padding: 40px;
    min-height: calc(100vh - 50px - 40px - 40px);
}

/* dashboard */
.dashboard {
    display: flex;
}

.profile-info .profile-photo {
    width: 120px;
    height: 120px;
        border-radius: 50%;
    margin-right: 10px;
}

.profile-info .profile-photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* action windows */
.action-window {
    display: none;
}

.action-window .title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 400;
}

.action-window form {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
}

.action-window label {
    margin-bottom: 10px;
}

.action-window form input,
.action-window form textarea {
    margin-bottom: 20px;
    width: 80%;
    max-width: 400px;
    border: 1px solid var(--light2);
    border-radius: 5px;
    outline: none;
}

.action-window form textarea {
    width: 90%;
    max-width: 1200px;
    height: 325px;
    padding: 10px;
    resize: none;
}

form input[type="file"] {
    padding-top: 7px;
}

.action-window select {
    height: 30px;
    margin-bottom: 20px;
}

.action-window .publish {
    display: flex;
    align-items: center;
    height: 20px;
    margin: 10px 0 20px 0;
}

.action-window .publish input[type="checkbox"] {
    margin-bottom: 0;
}

.action-window .publish label {
    margin: 0;
}

.action-window form input[type="submit"] {
    width: 200px;
    cursor: pointer;
    margin-top: 10px;
    border: none;
}

.action-window table {
    display: none;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    border-collapse: collapse;
    border-radius: 5px;
}

tr {
    font-size: 16px;
}

th, td {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid var(--light2);
    padding: 15px 20px;
    text-align: left;
    font-weight: 400;
}

th {
    background-color: #f6f6f6;
}

.action-btn {
    border: none;
}

.action-btn:first-child {
    padding-right: 0;
}

.action-btn a {
    color: #000;
    text-decoration: none;
    border: 1px solid var(--light2);
    padding: 5px 15px;
    border-radius: 5px;
}

.action-btn.delete a {
    background-color: var(--color1);
    color: var(--light0);
    border: 0;
}
