/* blog styles */

* {
    margin: 0;
    padding: 0;
}

/* posts cards */

main {
    width: 100%;
    min-height: calc(100dvh - 70px);
    display: flex;
    justify-content: center;
    background-color: var(--light0);
    padding: 0 3%;
    padding-top: 70px;
    transition: .2s;
}

main .content {
    width: 100%;
    max-width: 1280px;
    background-color: var(--light0);
    padding: 30px 0;
}

section.posts {
    width: 100%;
    /* background-color: #ddd; */
    padding: 0 20px;
}

section.posts > .title {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 30px;
    text-align: center;
}

.posts-content {
    width: 100%;
    /* background-color: #ccc; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.posts-content .post {
    position: relative;
    width: 350px;
    height: 400px;
    border-radius: 10px;
    background-color: var(--light0);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .2s;
    cursor: pointer;
}

.posts-content .post:hover {
    box-shadow: 0px 0px 10px 2px #eee;
    scale: 1.05 ;
}

.posts-content .post .image {
    width: 100%;
    height: 50%;
    transition: .2s;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.posts-content .post .image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.posts-content .post .content {
    width: 100%;
    height: 50%;
    padding: 20px;
}

.posts-content .post .creation-date {
    /* margin-top: 10px;  */
}

.posts-content .post .title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
}

.posts-content .post .subtitle {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    white-space: pre-wrap;
}

.posts-content .post .read-more {
    display: none;
}

.posts-content .post .category {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: var(--light1);
    color: var(--dark0);
    border-radius: 5px;
    padding: 5px 10px;
}
